%h2
  Your cart
= h @cart.inspect
%h2
  Choose your method of payment
%p
#checkout_method_title
  PayPal Website Standard
This is the most basic method of payment. You will be navigated to PayPal where you can enter your
credit card information or sign in to your account.
= render :partial => "/paypal/website_standard"
%p
#checkout_method_title
  PayPal Website Standard from ActiveMerchant
This method is the same as above except the html form was generated using ActiveMerchant.
= render :partial => "/paypal/website_standard_active_merchant"
%h3
  = link_to "Continue Shopping", "/"


