%h2
  Select a Rail
- for purchasable in @purchasables
  %span.purchase_link
    = link_to purchasable.human_name,{:action=>"detail",:id=>purchasable.id}
  = h purchasable.short_description
  %br
- if !@cart.empty?
  %h3
    = link_to "View Cart", :action => "cart"