/- website_standard_active_merchant do
/  = paypal_submit
- payment_service_for 1000, PaypalController::ACCOUNT, |
  :currency => 'USD', |
  :service => :paypal, |
  :html => { :id => 'payment-form' } do |service| |
    - service.cmd "_cart"
    - service.add_field 'upload', "1"
    - service.no_shipping '1' 
    - #the helper sets up an item by default. we shall delete that info
    - service.form_fields.delete('item_name')
    - service.form_fields.delete('item_number')
    - service.form_fields.delete('quantity')
    - #upload the entire cart
    - i = 1
    - for purchasable in @cart.to_a
      - service.add_field "item_name_#{i}",purchasable.human_name
      - service.add_field "amount_#{i}",fmt_money(purchasable.unit_price)
      - service.add_field "quantity_#{i}",purchasable.quantity
      - i += 1
    - service.notify_url notify_url
    - service.return_url url_for(:action=>"purchase_success",:only_path=>false)
    - service.cancel_return_url url_for(:action=>"checkout",:only_path=>false)
  = paypal_submit #the submit button generated from PaypalHelper